@model IPagedList<EmployeeModel>
@{
    ViewBag.Title = "Index";
}
@using CodeFirstApproach.Models
@using PagedList
@using PagedList.Mvc
<h2>Index</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>#Id</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = @item.EmpId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = @item.EmpId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "Home", new { i }))

